attrs==20.3.0
backports-abc==0.5
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
bleach==3.3.0
certifi==2020.12.5
chardet==4.0.0
configparser==4.0.2
contextlib2==0.6.0.post1
decorator==4.4.2
defusedxml==0.7.1
Django==1.11.29
django-cors-headers==3.0.2
elasticsearch==7.11.0
entrypoints==0.3
enum==0.4.7
enum34==1.1.10
functools32==3.2.3.post2
futures==3.3.0
idna==2.10
importlib-metadata==2.1.1
ipaddress==1.0.23
ipykernel==4.10.1
ipython==5.10.0
ipython-genutils==0.2.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
mistune==0.8.4
mongoengine==0.19.1
nbconvert==5.6.1
nbformat==4.4.0
notebook==6.4.12
packaging==20.9
pandocfilters==1.4.3
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
pika==1.2.0
prometheus-client==0.9.0
prompt-toolkit==1.0.18
ptyprocess==0.7.0
Pygments==2.5.2
pymongo==3.11.3
pyparsing==2.4.7
pyrsistent==0.16.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
pyzmq==19.0.2
requests==2.25.1
scandir==1.10.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.6.1
six==1.15.0
subprocess32==3.5.4
terminado==0.8.3
testpath==0.4.4
tornado==5.1.1
traitlets==4.3.3
Unidecode==1.2.0
urllib3==1.26.3
wcwidth==0.2.5
webencodings==0.5.1
zipp==1.2.0
